arch==7.1.0
datetime==3.0.3
doit
ipywidgets==8.1.5
matplotlib
numpy
openpyxl==3.1.3
pandas==2.2.3
psycopg2-binary==2.9.10
pyarrow
python-decouple
scikit-learn
scipy
seaborn==0.13.2
setuptools==75.6.0
statsmodels==0.14.3
toml
torch==2.6.0
wrds==3.2.0
yfinance==0.2.43
